/*
  Filename: animations.css

  History:
  02/14/23 - created file, animate title (GN)
*/

/* Title */
#title {
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Buttons */
.selectGameBtn:hover .selectGameHover{
    opacity:0.7;
}

/* Slider Images --TODO: delete or use */
@keyframes slideshow {
    0% { left: 0%; }
    20% { left: 0%; }
    40% { left: -100%; }
    55% { left: -100%; }
    70% { left: -200%; }
    85% { left: -200%; }
    100% { left: -300%; }
}
body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slideshow infinite; 
}