/*
  Filename: main.css

  History:
  02/13/23 - created file (GN)
  02/14/23 - generic css (GN)
  02/15/23 - added hamburger menu (AB)
  02/16/23 - added coin in header (AB)
  02/16/23 - added Firefox directives for FF support (GN)
  02/16/23 - buttons are now in rows of 3 (GN)
  02/17/23 - changed css for buttons
  02/18/23 - added prices and coins next to them
  */


/* 
  GENERIC CSS
*/
/* Margin Rules */

button * + * {
	margin-top: 1em;
}

p, h1, h2, h3 * + * {
  margin-top: 2em;
}


p {
	text-align: justify;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p + p {
margin-top: 0;
text-indent: 2em;
}

/* Flexbox Containers */
.listGamesFlexBox {
  padding: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  align-items: center;
  align-content: space-around;

  width: 50%;
  margin: auto;

  background-color: #abadaf;
  gap: 10%;
  row-gap: 10px;
}


/* Buttons */
.selectGameBtn {
  border-right: none;
  border-bottom: none;
  border-left-width: 0.1em;
  border-left-color: #1e2124;
  background-color: #4c4b5a;
  font-size: x-large;
  width: 25%;
  height: 100%;
  cursor: pointer;
}

/* Prices */
.gamePriceContainer {
  width: 25%;
  margin-top: -3em;
  margin-bottom: 1em;
}

.coinPrice {
  width: 15%;
  height: 15%;
}

.gamePrice {
  text-align: center;
  font-size: 1.3vw;
}

.selectGameHover {
  opacity: 0;
  width: 104%;
  height: 100%;
  top: 0;
}

.selectGame {
  width: 104%;
  height: 100%;
}

/*Header menu
  Needed in:
    Library
    Profile
    Games
*/
.header{
  border-bottom: 1px solid #E2E8F0
}

/*Entire header bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
}

/*Title*/
#title {
  font-size: 4.5vw;
  text-align: center;
  margin-top: -1em;
  margin-bottom: -1em;
  color: #1e2124;
}

/*Hamburger icon*/
.hamburger{
  display: none;
}

/*Bars that make up hamburger icon*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all -.3s ease-in-out;
  background-color: #101010;
}

/*Text inside hamburger menu*/
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

/*LOGO*/
.nav-logo {
  display: block;
  width: 10%;
  max-width: 60px;
  height: 1em;
  scale: 12.5%;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

/*Coin image*/
.coinImg {
  display: block;
  position: absolute;
  right: 29%;
  margin-bottom: 2rem;
  width: 40px;
  height: 40px;
  scale: 7.5%
}

#coin3, #coin2, #coin1 {
  display: none;
}

#coin2 {
  margin-top: -5rem;
}

#coin3 {
  margin-top: -10rem;
}

#coin4 {
  margin-top: -15rem;
}


/*Money*/
#walletAmt {
  position: absolute;
  right: 22.5%;

}

/*Inside of Hamburger Menu*/
@media only screen {
  /*General properties*/
  .nav-menu {
    display: flex;
    position: fixed;
    right: -110%;
    top: 6.9rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.175);
  }

  /*Entire box of menu*/
  .nav-menu.active {
    right: 0;
    width: 150px;
  }

  /*Each row of menu*/
  .nav-item {
    margin: 1rem 3rem 1rem 1rem;
  }

  /*Hamburger icon*/
  .hamburger {
    display: block;
    cursor: pointer;
    scale: 200%;
    margin-right: 2rem;
  }

  /*Animation of Hamburger turning to X*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transition: 0.3s;
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transition: 0.3s;
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*End Header*/
