/*
  Filename: main.css

  History:
  02/13/23 - created file (GN)
  02/14/23 - generic css (GN)
  02/15/23 - added hamburger menu (AB)
*/


/* 
  GENERIC CSS
*/
/* Margin Rules */

button * + * {
	margin-top: 1em;
}

p, h1, h2, h3 * + * {
  margin-top: 2em;
}


p {
	text-align: justify;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p + p {
margin-top: 0;
text-indent: 2em;
}


/* Title/Headers */
#title {
  font-size: xxx-large;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #1e2124;
}


/* Flexbox Containers */
.listGamesFlexBox {
  padding: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  

  align-items: center;
  align-content: space-around;

  width: 50%;
  margin: auto;

  background-color: #4b5e7f;

  /*Mobile/Smaller Window Support*/
  gap: 10px 20px;
}


/* Buttons */
.selectGameBtn {
  border-right: none;
  border-bottom: none;
  border-left-width: 0.1em;
  border-left-color: #1e2124;
  background-color: #4c4b5a;
  font-size: x-large;
  width: 6em;
  height: 8em;
}

.selectGameHover {
  opacity: 0;
  width: 104%;
  height: 100%;
  top: 0;
}

.header{
  border-bottom: 1px solid #E2E8F0
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger{
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all -.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen {
  .nav-menu {
    position: fixed;
    right: -110%;
    top: 3.7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.175);
  }

  .nav-menu.active {
    right: 0;
    width: 150px;
  }

  .nav-item {
    margin: 1rem 3rem 1rem 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}